<div>
  <button mat-icon-button (click)="state = 'large'">
  <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="state = 'small'">
  <mat-icon>zoom_out</mat-icon>
  </button>
  <p class="animate" [@sizeAnimation]="state" (@sizeAnimation.start)="started($event)" (@sizeAnimation.done)="finished($event)">Hello Angular 11</p>
</div>

<div class="fly-wrap">
  <button mat-button color="primary" (click)="appear()">Show me</button>
  <button mat-button color="accent" (click)="disappear()">Good bye!</button>
  <p class="fly" [@flyInOut]="stateFly" *ngIf="showMe">You asked for me?</p>
</div>

<div>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facere ad amet ea itaque officiis laboriosam optio? Aspernatur commodi ut sapiente at? Enim, accusamus! Adipisci blanditiis laudantium est natus fuga?</p>
</div>
