.ng-touched:not(form):not(p) {
  border: 3px solid lightblue;
}

.ng-dirty.ng-valid:not(form):not(p) {
  border: 2px solid green;
}

label {
  text-transform: capitalize;
}

p > label:first-child {
  display: inline-block;
  text-align: right;
  padding-right: 0.5rem;
  width: 3rem;
}

button {
  margin-right: 1rem;
}

.icon {
  vertical-align: middle;
  cursor: pointer;
}
