.login-form {
  display: grid;
  padding-bottom: 2rem;
  grid-template-columns: 230px 230px auto;
}

.login-form-field {
  padding: 0 0.5rem;
  box-sizing: content-box;
}

.mat-radio-button {
  margin-left: 1rem;
}

.mat-form-field-infix {
  width: 200px !important;
}

.herodetail-btn {
  margin: 0 0 1rem 1rem !important;
}

.control-gp-wrap {
  padding-bottom: 1rem;
  white-space: nowrap;
  .mat-error {
    font-size: 75%;
  }
}

.mat-checkbox {
  margin-left: 1rem;
}
