<div class="container">

  <div class="item">
    <div [appInfiniteScroll]=isEnd (more)="getmore()">
      <mat-card *ngFor="let hero of heroes">
        <mat-card-title>{{hero.id}}.{{hero.name}}</mat-card-title>
        <mat-card-subtitle>{{hero.team}}</mat-card-subtitle>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae repudiandae magni quaerat porro error vel ipsam eveniet corporis delectus dolor!</mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="item">
    <ul>
      <li *ngFor="let hero of heroes | sort: 'name'; first as variable" [class.first]="variable" trackBy:trackByHeroes>{{hero | json}}</li>
    </ul>

    <hr>

    <ul>
      <li *ngFor="let hero of heroes$ | async;">{{hero | json}}</li>
    </ul>

    <app-favorite-heroes></app-favorite-heroes>

    <p>
      <button id="btnAddHero" (click)="addHero('Thudread', 'avengers')">Add Thudread</button>
    </p>
    <p>
      <button id="btnRename" (click)="renameHero(2)">Rename Drogfisher to Pricezog</button>
    </p>
    <p>
      <button id="btnRemove" (click)="remove(4)">Delete Mr Bu Moverse</button>
    </p>
    <p>
      <button id="btnRefresh" (click)='refreshHeroes()'>Refresh in memory API</button>
    <p>

    <hr>

    <router-outlet></router-outlet>

  </div>
</div>
